@import "../styles/mixins.scss";

.header_landing {
  background-color: white;
  font-family: $font-lit;
  width: 100vw;
  text-align: center;
  h1 {
    background-color: white;
    padding-bottom: 15px;
  }
}

.page_container {
  background-color: $color-dark-gray;
  min-height: 100vh;
}

.landing_page_form {
  display: flex;
  flex-direction: column;
  font-family: $font-mont;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  width: 250px;
  label {
    color: $color-white;
    padding-bottom: 25px;
  }
  input {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
  }
  h4 {
    color: $color-white;
    font-size: 18px;
    .total {
      color: goldenrod;
    }
  }
}

footer {
  color: $color-white;
  font-family: $font-lit;
  font-size: 20px;
  line-height: 2;
  margin: 100px auto;
  padding: 0 25px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
